* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: main-font;
    height: 100vh;
    overflow: hidden;
}

/* Colors */

:root {
    --yellow: #F5C54C;
    --light-yellow: #F5D276;
    --blue: #5D85F5;
    --magenta: #F56999;
    --lime: #8ef597;
    --yellow-O: rgba(241, 195, 76, 0.125);
    --light-yellow-O: rgba(245, 210, 118, 0.125);
    --blue-O: rgba(93, 133, 245, 0.125);
    --magenta-O: rgba(245, 105, 153, 0.125);
    --lime-O: rgba(142, 245, 151, 0.125);
}

/* Navigation */

:root {
    --nav-height: 80px;
}

nav, nav ul {
    width: 100%;
}

nav ul {
    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* list */
    list-style: none;
    /* box-model */
    height: var(--nav-height);
    border-bottom: 2px solid black;
    /* content */
    font-size: 22px;
    background-color: var(--light-yellow);
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Main */

:root {
    --main-height: calc(100vh - var(--nav-height));
    --back-grid-spacing: 50px;
    --back-grid-width: 1px;
    --back-angle: 45deg;
    --back-color: var(--light-yellow)
}

main {
    height: var(--main-height);
    overflow-y: scroll;
    background-color: transparent;
}

section article {
    background-color: white;
}

#back-black, #back-color {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
}

#back-black {
    opacity: 0;
    background-image: repeating-linear-gradient(var(--back-angle), transparent, transparent var(--back-grid-spacing), black var(--back-grid-spacing), black calc(var(--back-grid-spacing) + var(--back-grid-width))), repeating-linear-gradient(calc(var(--back-angle) + 90deg), transparent, transparent var(--back-grid-spacing), black var(--back-grid-spacing), black calc(var(--back-grid-spacing) + var(--back-grid-width)));
}

#back-color {
    opacity: 1;
    background-image: repeating-linear-gradient(var(--back-angle), transparent, transparent var(--back-grid-spacing), var(--back-color) var(--back-grid-spacing), var(--back-color) calc(var(--back-grid-spacing) + var(--back-grid-width))), repeating-linear-gradient(calc(var(--back-angle) + 90deg), transparent, transparent var(--back-grid-spacing), var(--back-color) var(--back-grid-spacing), var(--back-color) calc(var(--back-grid-spacing) + var(--back-grid-width)));
}

section {
    height: var(--main-height);
    display: grid;
    grid-template-columns: 9% 9% 8% 8% 8% 8% 8% 8% 8% 8% 9% 9%;
    grid-template-rows: 9% 9% 8% 8% 8% 8% 8% 8% 8% 8% 9% 9%;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 3px;
}

/* Home */

#home .image {
    /* background */
    background-image: url('./images/IMG_20210802_233528.jpg');
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border: 4px solid var(--light-yellow);
}

#home .image, #web-dev-portfolio, #name {
    grid-row: 3 / 11;
}

#web-dev-portfolio {
    grid-column: 2 / 5;
}

#home .image {
    grid-column: 6 / 9;
}

#name {
    grid-column: 9 / 12;
}

#web-dev-portfolio, #name {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 50px;
}

#web-dev-portfolio {
    text-align: right;
}

#web-dev {
    /* font */
    font-family: bold-font;
    font-size: 70px;
    /* background */
    --back-width: 100px;
    --back-height: 100px;
    background-size: var(--back-width) var(--back-height);
    background-position-x: 0;
    background-position-y: 0;
    background-image: repeating-linear-gradient(-45deg, var(--blue), var(--blue) 10%, transparent 10%, transparent 11%, var(--blue) 11%, var(--blue) 49%, transparent 49%, transparent 50%), repeating-linear-gradient(45deg, var(--blue), var(--blue) 35%, transparent 35%, transparent 50%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* animation */
    animation: 5s slide-background-diagonally linear infinite;
}

@keyframes slide-background-diagonally {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    100% {
        background-position-x: var(--back-width);
        background-position-y: calc(-1 * var(--back-height));
    }
}

#web-dev-portfolio {
    color: var(--yellow);
}

#name {
    color: var(--blue);
}

#name {
    font-family: elegant-font;
    text-align: left;
}

@media only screen and (max-width: 150vh)/* and (min-width: 640px)*/{
    #web-dev-portfolio, #name {
        grid-column: 3 / 6 !important;
    }
    #web-dev-portfolio {
        grid-row: 3 / 6;
    }
    #name {
        grid-row: 8 / 11;
    }
    #home .image {
        grid-column: 7 / 11;
    }
    #web-dev-portfolio, #name {
        font-size: 40px;
    }
    #web-dev {
        font-size: 70px;
    }
}

@media only screen and (max-width: 639px) {
    #home .image {
        grid-row: 5 / 11;
        grid-column: 5 / 11;
        z-index: -1;
        opacity: 0.9;
    }
}

/* Quadruple */

.quadruple {
    --shadow-w: 2px;
    --shadow-f: 5px;
}

.quadruple .heading {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
}

.quadruple article:nth-child(2) {
    grid-column: 8 / 12;
    grid-row: 2 / 6;
    box-shadow: var(--color) calc(-1 * var(--shadow-w)) var(--shadow-w) var(--shadow-f);
}

.quadruple article:nth-child(3) {
    grid-column: 2 / 6;
    grid-row: 8 / 12;
    box-shadow: var(--color) var(--shadow-w) calc(-1 * var(--shadow-w)) var(--shadow-f);
}

.quadruple article:nth-child(4) {
    grid-column: 8 / 12;
    grid-row: 8 / 12;
    box-shadow: var(--color) calc(-1 * var(--shadow-w)) calc(-1 * var(--shadow-w)) var(--shadow-f)
}

.quadruple .heading, .quadruple article {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.quadruple .heading, #contact .heading {
    font-size: 50px;
    color: var(--yellow);
    font-family: bold-font;
}

.quadruple article h3 {
    font-size: 50px;
    color: var(--color);
    text-align: center;
}

.quadruple article p {
    font-size: 30px;
    text-align: center;
    color: var(--yellow);
}

.quadruple article ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 0;
    width: 0;
    overflow: hidden;
}

.quadruple article ul li {
    text-align: center;
}

/* Projects */

#projects {
    --color: var(--magenta)
}

/* Skills */

#skills {
    --color: var(--blue);
}

/* Fonts */

@font-face {
    font-family: bold-font;
    src: url('./fonts/Fredoka_One/FredokaOne-Regular.ttf');
}

@font-face {
    font-family: main-font;
    src: url('./fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf');
}

@font-face {
    font-family: elegant-font;
    src: url('./fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: hollow-font;
    src: url('./fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf');
}