* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: main-font;
}

/* Colors */

:root {
    --yellow: #F5C54C;
    --light-yellow: #F5D276;
    --blue: #5D85F5;
    --magenta: #F56999;
    --lime: #8EF597;
    --yellow-O: rgba(241, 195, 76, 0.125);
    --light-yellow-O: rgba(245, 210, 118, 0.125);
    --blue-O: rgba(93, 133, 245, 0.125);
    --magenta-O: rgba(245, 105, 153, 0.125);
    --lime-O: rgba(142, 245, 151, 0.125);
}

/* Navigation */

ul {
    list-style-type: none;
}

nav {
    height: 80px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f3ead2;
    z-index: 5;
    font-size: 20px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

/* Home */

.alert {
    position: fixed;
    top: 30%;
    width: 60%;
    height: 50vh;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
    flex-direction: column;
    opacity: 0;
    background: radial-gradient(at 50% 75%, white, wheat);
    z-index: 10;
    font-size: xx-large;
    text-align: center;
    border-radius: 15px;
    border: coral solid 3px;
}

#alert-button {
    background-color: aqua;
    color: brown;
    border-radius: 5px;
    font-size: larger;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 1rem;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

main {
    width: 100%;
}

:root {
    --secition-height: calc(100vh - 80px);
}

section {
    height: var(--secition-height);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-top: 1px solid black;
    /* background: conic-gradient(from 90deg at var(--scrollX) 0%, var(--back-color-1) 0%, var(--back-color-2) 50%, rgba(228, 162, 40, var(--section-back-opacity))),
                conic-gradient(from -90deg at var(--scrollX) 100%, var(--back-color-3) 100%, var(--back-color-4) 50%, rgba(228, 131, 40, var(--section-back-opacity))); */
    /* background-blend-mode: soft-light; */
}

h2 {
    font-family: elegant-font;
    font-size: 3vw;
}

:root {
    --section-back-opacity: 0.2;
    
    --back-color-1: rgba(228, 162, 40, var(--section-back-opacity));
    --back-color-2: rgba(0, 136, 255, var(--section-back-opacity));
    --back-color-3: rgba(228, 131, 40, var(--section-back-opacity));
    --back-color-4: rgba(228, 131, 40, var(--section-back-opacity));
}

#home {
    --scrollX: 50%;
    --back-color-1: var(--blue-O);
    --back-color-2: var(--light-yellow-O);
    --back-color-3: var(--blue-O);
    --back-color-4: var(--light-yellow-O);
}

#home .heading {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-size: 5vw;
}

#home .heading div {
    width: fit-content;
    text-align: center;
}

#web-dev-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#web-dev {
    font-family: bold-font;
    background-image: url('./images/invertedsmallsymmetrical-vecteezy_internet-cyber-security-connection-concept-background_\ -\ Copy.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200px;
    background-position-x: 10px;
    width: min-content;
    background-repeat: revert;
    font-weight: 900;
    font-size: 7vw;
    letter-spacing:10px;
    color: transparent;
    background-blend-mode: soft-light;
    animation: sliding-back 3s linear infinite;
}

@keyframes sliding-back {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    100% {
        background-position-x: 200px;
        background-position-y: -114px;
    }
}

#portfolio {
    font-family: elegant-font;
    color: var(--yellow);
}

.name {
    font-family: elegant-font;
    color: var(--blue);
    float: right;
}

:root {
    --face-width: 20vw;
    --face-height: calc(1.5 * var(--face-width));
    --face-max-height: calc(var(--secition-height) - 20px);
}

#home .image {
    position: absolute;
    width: var(--face-width);
    height: var(--face-height);
    max-height: calc(var(--secition-height));
    left: calc(50% - (var(--face-width) / 2));
    background-image: url("./images/IMG_20210802_233528.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
    #home .image {
        left: auto;
        right: calc((50% - var(--face-width))/2);
    }
    #home .heading {
        justify-content: space-evenly;
        flex-direction: column;
        margin-left: 10%;
        padding-right: 50%;
        height: var(--secition-height);
    }
    #web-dev-portfolio {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    .name {
        text-align: right !important;
    }
}

#home .image::after {
    content: "";
    --outside-border: 3px;
    --inside-border: 9px;
    border: var(--light-yellow) var(--inside-border) double;
    display: block;
    width: calc(var(--face-width) - (var(--outside-border) * 2));
    height: calc(var(--face-height) - (var(--outside-border) * 2));
    max-height: calc(var(--face-max-height) - (var(--outside-border) * 2));;
    transform: translate(var(--outside-border), var(--outside-border));
    box-sizing: border-box;
}

#home .image::before {
    content: "";
    position: absolute;
    --outside-border: 5px;
    border: var(--light-yellow) var(--outside-border) solid;
    display: block;
    width: calc(var(--face-width) + (var(--outside-border) * 2));
    height: calc(var(--face-height) + (var(--outside-border) * 2));
    max-height: calc(var(--face-max-height) + (var(--outside-border) * 2));
    transform: translate(calc(-1 * var(--outside-border)), calc(-1 * var(--outside-border)));
    box-sizing: border-box;
    background: conic-gradient(from -180deg at 100% 90%, var(--light-yellow), var(--blue));
    mix-blend-mode: soft-light;
}

/* Projects */

#projects, #skills, #contact {
    padding: 0 5%;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-evenly;
}

#projects .heading, #skills .heading, #contact .heading {
    width: 40vw;
    text-align: center;
    background: linear-gradient(45deg, transparent 0%, transparent 30%, var(--light-yellow) 30%, var(--light-yellow) 70%, transparent 70%);
    background-repeat: repeat-x;
    animation: skimming-back 3s ease-in-out 1s alternate infinite;
    border-radius: 3vw;
    z-index: -1;
}

@keyframes skimming-back {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 40vw;
    }
}

#projects .heading h2::before, #skills .heading h2::before, #contact .heading h2::before {
    content: attr(data-content);
    font-size: 3vw;
    transform: translate(3px, 3px);
    color: var(--yellow);
    position: absolute;
    z-index: -1;
}

#projects .heading h2, #skills .heading h2, #contact .heading h2 {
    z-index: 1;
}

#projects {
    --scrollX: 0%;
    --back-color-1: var(--light-yellow-O);
    --back-color-2: var(--magenta-O);
    --back-color-3: var(--light-yellow-O);
    --back-color-4: var(--magenta-O);
}

#projects .heading {
    color: var(--magenta);
}

article {
    border: double black 3px;
    width: 40%;
}

article ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Skills */

#skills {
    --scrollX: 0%;
    --back-color-1: var(--blue-O);
    --back-color-2: var(--lime-O);
    --back-color-3: var(--blue-O);
    --back-color-4: var(--lime-O);
}

#skills .heading {
    color: var(--blue);
}

#skills > h3 {
    width: 100%;
}

#skills > ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* Contact */

#contact {
    --back-color-1: var(--lime-O);
    --back-color-2: var(--yellow-O);
    --back-color-3: var(--lime-O);
    --back-color-4: var(--yellow-O);
}

#contact .heading {
    color: var(--lime);
}

#contact h2, #contact h3 {
    width: 100%;
}

input {
    display: inline-block;
}

/* Footer */

footer {
    font-size: small;
}

/* Fonts */

@font-face {
    font-family: bold-font;
    src: url('./fonts/Fredoka_One/FredokaOne-Regular.ttf');
}

@font-face {
    font-family: main-font;
    src: url('./fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf');
}

@font-face {
    font-family: elegant-font;
    src: url('./fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: hollow-font;
    src: url('./fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf');
}